/*  your css code here. If applicable */
#grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 5px;
}

#grid div {
	color: white;
	min-height: 50px;
	background: green;
	padding: 10px;
	font-size: 20px;
}

#grid #one {
	grid-column: 1/5;
}

#grid #two {
	grid-row: 2/6;
}

#grid #four {
	grid-column: 3/5;
}

#grid #five {
	grid-column: 2/4;
}

#grid #ten {
	grid-column: 2/5;
}